body {
  color: #393939;
  font-family: "Helvetia Neue", sans-serif;
  font-weight: 200px;
}

p {
  font-size: 20px;
}

img {
  padding: 10px;
}

a {
  color: #D34B4B;
  text-decoration: none;
}

.white-black {
  background-color: #FFFFFF;
  color: #000000;
}

.black-white {
  background-color: #000000;
  color: #FFFFFF;
}
